{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules":  {
		"indent": [
			2,
			"tab",
			{
				"SwitchCase": 1
			}
		],
		"no-unused-vars": 2,
		"space-before-blocks": [
			"error",
			"always"
		],
		"consistent-return": 0,
		"camelcase": 0,
		"no-tabs": 0,
		"quotes": 0,
		"object-curly-newline": "off",
		"no-param-reassign": 0,
		"max-len": 0,
		"no-console": 0,
		"no-underscore-dangle": 0,
		"import/no-extraneous-dependencies": 0,
		"import/no-unresolved": 0,
		"import/extensions": 0,
		"func-names": 0,
		"import/no-dynamic-require": 0,
		"no-restricted-syntax": [
			"error",
			"ForInStatement",
			"LabeledStatement",
			"WithStatement"
		],
		"no-await-in-loop": 0,
		"no-async-promise-executor": 0,
		"no-nested-ternary":0,
		"radix":"off"
	}
}